<div class="container bg-inverse text-white" style="opacity: 0.8" *ngIf="this.consultation">
  <br>

  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">Consultation ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{this.consultation.id}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="patient" class="col-sm-2 col-form-label">Patient name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{this.consultation.patient.fullName}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="patient" class="col-sm-2 col-form-label">Patient PNC</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{this.consultation.patient.personalNumericalCode}}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="patient" class="col-sm-2 col-form-label">Date or birth</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" value="{{this.consultation.patient.dateOfBirth | date}}" readonly>
    </div>
  </div>

</div>
<br>
<div class="container bg-inverse text-white" style="opacity: 0.85" *ngIf="this.consultation">
  <br>
  <div class="form-group">
    <textarea class="form-control" name="newObservation" [(ngModel)]="this.newObservation.text" maxlength="255" rows="3" style="resize:none">

    </textarea>
  </div>
  <button class="btn btn-primary btn-block" (click)="addObservation()">Add observation</button>
  <br>

  <div *ngFor="let observation of this.consultation.observations.reverse()">
    <div class="form-group">
      <textarea class="form-control" name="newObservation" rows="3" style="resize:none" readonly>{{observation.text }}</textarea>
      <p class="pull-right">Created at {{observation.createdAt | date:"medium"}}</p>
    </div>
  </div>

</div>