<div class="container" style="opacity:0.97;">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-inverse">
      <thead>
        <th>Id</th>
        <th>Patient</th>
        <th>Starts at</th>
        <th>Duration</th>
      </thead>
      <tbody>
        <tr *ngFor="let consultation of this.consultations" (dblclick)="gotoDetails(user)">
          <td>{{consultation.id}}</td>
          <td>{{consultation.patient.fullName}}</td>
          <td>
            <p>{{consultation.startTime | date:'mediumDate'}}</p>
            <p>{{consultation.startTime | date:'shortTime'}}</p>
          </td>
          <td>{{ (consultation.endTime - consultation.startTime) / (60 * 1000)}} min</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>